<!DOCTYPE html>
<html>

<head>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐔</text></svg>">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highcharts/highcharts.js"></script>
<script>highcharts = Highcharts</script>
<script src="https://cdn.jsdelivr.net/npm/highcharts-vue@1.4.0/dist/highcharts-vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>var module = {};</script>
<script src="https://cdn.jsdelivr.net/npm/javascript-color-gradient@1.3.2/src/index.min.js"></script>
<script src="https://unpkg.com/vue-i18n@8"></script>


<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer v-model="drawer" width="300" color="blue-grey lighten-5" app>
        <v-card class="ma-1" flat outlined tile>
          <v-card-title class="font-weight-light">Thermometers</v-card-title>
          <v-card-text>
            <pre class="text-caption">{{ JSON.stringify(this.thermometers, null, 2) }}</pre>
          </v-card-text>
        </v-card>
        <v-card class="ma-1" flat outlined tile>
          <v-card-title class="font-weight-light">Relays</v-card-title>
          <v-card-text>
            <pre class="text-caption">{{ JSON.stringify(this.relays, null, 2) }}</pre>
          </v-card-text>
        </v-card>
        <v-card class="ma-1" flat outlined tile>
          <v-card-title class="font-weight-light">Colors</v-card-title>
          <v-card-text>
            <v-row no-gutters>
              <v-card v-for="n in 30" :key="n" class="pa-0 ma-0" :color="colors[n-1]" outlined tile width="20">
                <pre class="text-caption">{{n-5}}</pre>
              </v-card>
            </v-row>
        </v-card-text>
        </v-card>
      </v-navigation-drawer>

      <v-app-bar app elevation=10>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title class="font-weight-bold">RPI</v-toolbar-title>
        <v-toolbar-title class="font-weight-regular">THERMO</v-toolbar-title>
        <v-toolbar-title class="font-weight-light">CHICK 🐔</v-toolbar-title>
        <v-toolbar-title v-if="relays[0].on">🔥</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn-toggle v-model="range">
          <v-btn>{{$t("day")}}</v-btn>
          <v-btn>{{$t("week")}}</v-btn>
          <v-btn>{{$t("month")}}</v-btn>
        </v-btn-toggle>
        <v-btn icon v-if="locale != locales[1]" @click="change_locale(1)" class="ml-4"> en </v-btn>
        <v-btn icon v-else @click="change_locale(0)"> fr </v-btn>
      </v-app-bar>

      <v-main>
          <v-card class="ma-4 d-flex align-content-start flex-wrap" flat>
            <v-card class="mx-auto" elevation="6" max-width="450" outlined :color="thermometers[1].color">
              <v-list-item>
                <v-list-item-content>
                  <div class="text-overline mb-4">
                    {{$t("outside")}}
                  </div>
                  <v-card class="mx-auto" elevation="10" max-width="300" outlined :color="thermometers[0].color">
                    <v-list-item>
                      <v-list-item-content>
                        <div class="text-overline mb-4">
                          {{$t("inside")}}
                        </div>
                        <v-list-item-title class="text-h2 mb-1">
                          {{thermometers[0].temp.toFixed(0)}}°c
                        </v-list-item-title>
                      </v-list-item-content>
                      <v-badge :value="relays[0].on" overlap offset-x="50" offset-y="50" color="white">
                        <v-list-item-avatar size="100" color="white">
                          <pre class="text-h3 mb-2">🐔</pre>
                        </v-list-item-avatar>
                        <template v-slot:badge>
                          <pre class="text-h3 pa-0">🔥</pre>
                        </template>
                      </v-badge>
                    </v-list-item>
                    <v-card-actions class="justify-end ma-4">
                      <v-slider v-model="target" :label="targetLabel" color="black" track-color="white" min=4 max=12
                        step="1" thumb-label ticks tick-size=10 thumb-size=41 dense></v-slider>
                    </v-card-actions>
                    <v-card-actions class="justify-end">
                      <span v-if="display_graph" small label outlined color="black" class="text-caption float-right">
                        {{chart_range.min[0].toFixed(0)}} | {{chart_range.max[0].toFixed(0)}}°c</span>
                    </v-card-actions>
                  </v-card>
                  <v-list-item-title class="mt-4">
                    <span class="text-h4 pa-0">{{thermometers[1].temp.toFixed(0)}}°c</span>
                    <span v-if="display_graph"  small label outlined color="black" class="text-caption float-right">
                      {{chart_range.min[1].toFixed(0)}} | {{chart_range.max[1].toFixed(0)}}°c</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-card>
            <v-col class="flex-grow-1">
              <highcharts v-if="display_graph" class="ma-4" :options="options" ref="highcharts"></highcharts>
            </v-col>
          </v-card>
      </v-main>
    </v-app>
  </div>

  <script>
    const gradient = new Gradient();
    gradient.setGradient('#1a66ff', '#80ffbf', '#ffe680', '#ff9933', '#ff3333');
    gradient.setMidpoint(30);
    const messages = {
      en: {
        inside: 'Inside',
        outside: 'Outside',
        day: '1 day',
        week: '1 week',
        month: '1 month',
        relay: 'Relay'
      },
      fr: {
        inside: 'Interieur',
        outside: 'Exterieur',
        day: '1 jour',
        week: '1 semaine',
        month: '1 mois',
        relay: 'Relais'
      },
    };
    Vue.use(HighchartsVue.default)
    const i18n = new VueI18n({ messages: messages });
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: { dark: false },
      }),
      i18n: i18n,
      data: () => ({
        drawer: false,
        locale: localStorage.getItem('locale') || 'fr',
        locales: ['fr', 'en'],
        colors: gradient.getArray(),
        target: 5,
        thermometers: [{ temp: 0, color: 'primary' }, { temp: 0, color: 'primary' }],
        relays: [{}, {}],
        chart_labels: [],
        chart_data: [],
        chart_range: { min: [0,0], max: [0,0]},
        range: 0,
        range_query: [
          'window=15m&range=1d',
          'window=4h&range=1w',
          'window=12h&range=1m'
        ]
      }),
      computed: {
        targetLabel: function () {
          return `${this.target}°c`
        },
        display_graph() {
          return this.range != undefined
        },
        options: function() {
          return {
            chart: { type : 'spline' },
            title: { text:'' },
            xAxis: {
              type: 'datetime',
              categories: this.chart_labels,
              labels:{
                format: '{value:%H:%M}',
              }
            },
            time: { useUTC: false },
            yAxis: [{ title: { text: '' } },{ title: { text: '' }, min:0 , max: 100, opposite: true}],
            legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              borderWidth: 0,
              x: 25,
              floating: true,
            },
            series: [
              {
                name: this.$t('outside'),
                data: this.chart_data[1],
                color: this.thermometers[1].color,
                marker: {enabled: false},
                tooltip: { valueSuffix: '°C', valueDecimals: 1},
              },
              {
                name: this.$t('inside'),
                data: this.chart_data[0],
                color: this.thermometers[0].color,
                marker: {enabled: false},
                lineWidth: 3,
                tooltip: { valueSuffix: '°C', valueDecimals: 1},
              },
              {
                name: this.$t('relay'),
                data: this.chart_data[2],
                color: 'black',
                marker: {enabled: false},
                dashStyle: 'Dot',
                yAxis: 1,
                tooltip: { valueSuffix: '%', valueDecimals: 0},
              }
            ]
          }
        }
      },
      methods: {
        compute_color: function (temp) {
          let index = temp + 5;
          index = Math.trunc(Math.max(0, Math.min(index, this.colors.length - 1)))
          return this.colors[index]
        },
        toggle_relay: function () {
          if (this.relays[0].on)
            fetch('/relay/0/off')
              .then(this.fetch_temperature())
          else
            fetch('/relay/0/on')
              .then(this.fetch_temperature())
        },
        fetch_temperature: function () {
          fetch('/')
            .then(response => response.json())
            .then(data => {
              this.thermometers = data.thermometers
              this.relays = data.relays
              this.thermometers[0].color = this.compute_color(this.thermometers[0].temp)
              this.thermometers[1].color = this.compute_color(this.thermometers[1].temp)
              this.target = data.target_temperature
            })
        },
        fetch_chart: function () {
          if(this.range == undefined) {
            return
          }
          fetch('/chart?' + this.range_query[this.range])
            .then(response => response.json())
            .then(data => {
              this.chart_labels = data.labels.map( e => new Date(e).getTime())
              this.chart_data = data.datasets
              this.chart_range.min = this.chart_data.map( a => Math.min.apply(Math, a))
              this.chart_range.max = this.chart_data.map( a => Math.max.apply(Math, a))
            })
        },
        change_locale: function (index) {
          this.locale = this.locales[index]
          this.$i18n.locale = this.locale;
          localStorage.setItem('locale', this.locale);
        }
      },
      watch: {
        target: function (val) {
          fetch(`/target/${val}`)
        },
        range: function (val) {
          this.fetch_chart()
        }
      },
      created() {
        this.$i18n.locale = this.locale;
      },
      mounted() {
        this.fetch_temperature()
        this.fetch_chart()
        setInterval(() => { this.fetch_temperature() }, 10000)
        setInterval(() => { this.fetch_chart() }, 30000)
        var chart = this.$refs.highcharts.chart
      }
    })
  </script>
  <style lang="scss" scoped>
    .v-badge__badge {
      padding: auto;
      height: auto;
      padding: 6px 6px;
      border-radius: 50px;
      background-color: transparent
    }
  </style>
</body>

</html>