<!DOCTYPE html>
<html>

<head>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐔</text></svg>">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer v-model="drawer" width="350" app>
        <v-card elevation="4" class="ma-2 pa-4">
          <v-card-title>Thermometers</v-card-title>
          <pre class="text-caption">{{ JSON.stringify(this.thermometers, null, 2) }}</pre>
        </v-card>
        <v-card elevation="4" class="ma-2 pa-4">
          <v-card-title>Relays</v-card-title>
          <pre class="text-caption">{{ JSON.stringify(this.relays, null, 2) }}</pre>
        </v-card>
        <v-card elevation="4" class="ma-2 pa-4">
          <v-card-title>Colors</v-card-title>
          <v-row no-gutters>
            <v-card v-for="n in 30" :key="n" class="pa-0 ma-0" :color="colors[n-1]" outlined tile>
              {{n-5}}
            </v-card>
          </v-row>
        </v-card>
      </v-navigation-drawer>

      <v-app-bar app elevation=10>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>rpi-thermo-chick 🐔</v-toolbar-title>
        <v-toolbar-title v-if="relays[0].on">🔥</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon v-if="locale != locales[1]" @click="change_locale(1)"> en </v-btn>
        <v-btn icon v-else @click="change_locale(0)"> fr </v-btn>
      </v-app-bar>

      <v-main class="align-center">
        <v-container class="mt-6">
          <v-card class="mx-auto" elevation="10" max-width="450" outlined :color="thermometers[1].color">
            <v-list-item>
              <v-list-item-content>
                <div class="text-overline mb-4">
                  {{$t("outside")}}
                </div>
                <v-card class="mx-auto" elevation="10" max-width="300" outlined :color="thermometers[0].color">
                  <v-list-item>
                    <v-list-item-content>
                      <div class="text-overline mb-4">
                        {{$t("inside")}}
                      </div>
                      <v-list-item-title class="text-h2 mb-1">
                        {{thermometers[0].temp.toFixed(0)}}°c
                      </v-list-item-title>
                    </v-list-item-content>
                    <v-badge :value="relays[0].on" overlap offset-x="50" offset-y="50" color="white">
                      <v-list-item-avatar size="100" color="white">
                        <pre class="text-h3 mb-2">🐔</pre>
                      </v-list-item-avatar>
                      <template v-slot:badge>
                        <pre class="text-h3 pa-0">🔥</pre>
                      </template>
                    </v-badge>
                  </v-list-item>
                  <v-card-actions class="justify-end ma-4">
                    <v-slider v-model="target" :label="targetLabel" color="black" track-color="white" min=4 max=12
                      step="1" thumb-label ticks tick-size=10 thumb-size=41 dense></v-slider>
                  </v-card-actions>
                  <v-card-actions class="justify-end">
                    <span small label outlined color="black" class="text-caption float-right">
                      {{thermometers[0].min.toFixed(0)}} | {{thermometers[0].max.toFixed(0)}}°c</span>
                  </v-card-actions>
                </v-card>
                <v-list-item-title class="mt-4">
                  <span class="text-h4 pa-0">{{thermometers[1].temp.toFixed(0)}}°c</span>
                  <span small label outlined color="black" class="text-caption float-right">
                    {{thermometers[1].min.toFixed(0)}} | {{thermometers[1].max.toFixed(0)}}°c</span>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card>
          <v-card class="mt-6 mx-auto pa-3" elevation="10" max-width="450" min-height="100">
            <span class="black--text">{{chart_range[1].toFixed(0)}}°c</span>
            <v-sheet class="stack-sheet">
              <v-sparkline v-model="chart_data[0]" :gradient="chart_gradient" height="100" padding="16"
                stroke-linecap="round" smooth line-width="2" auto-draw></v-sparkline>
              <v-sparkline class="stacked" v-model="chart_data[1]" :gradient="chart_gradient" height="100" padding="16"
                stroke-linecap="round" smooth line-width="1" auto-draw></v-sparkline>
            </v-sheet>
            <span class="black--text">{{chart_range[0].toFixed(0)}}°c</span>
          </v-card>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>var module = {};</script>
  <script src="https://cdn.jsdelivr.net/npm/javascript-color-gradient@1.3.2/src/index.min.js"></script>
  <script src="https://unpkg.com/vue-i18n@8"></script>
  <script>
    const gradient = new Gradient();
    gradient.setGradient("#1a66ff", "#80ffbf", "#ffe680", "#ff9933", "#ff3333");
    gradient.setMidpoint(30);
    const messages = {
      en: {
        inside: "Inside",
        outside: "Outside"
      },
      fr: {
        inside: "Interieur",
        outside: "Exterieur"
      },
    };
    const i18n = new VueI18n({ messages: messages });
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: { dark: false },
      }),
      i18n: i18n,
      data: () => ({
        drawer: null,
        locale: localStorage.getItem("locale") || "fr",
        locales: ["fr", "en"],
        colors: gradient.getArray(),
        target: 5,
        thermometers: [{ temp: 0, min: 0, max: 0, color: "primary" }, { temp: 0, min: 0, max: 0, color: "primary" }],
        relays: [{}, {}],
        chart_data: [],
        chart_range: [0, 0],
        chart_gradient: gradient.getArray()
      }),
      computed: {
        targetLabel: function () {
          return `${this.target}°c`
        }
      },
      methods: {
        compute_color: function (temp) {
          let index = temp + 5;
          index = Math.trunc(Math.max(0, Math.min(index, this.colors.length - 1)))
          return this.colors[index]
        },
        toggle_relay: function () {
          if (this.relays[0].on)
            fetch("/relay/0/off")
              .then(this.fetch_temperature())
          else
            fetch("/relay/0/on")
              .then(this.fetch_temperature())
        },
        fetch_temperature: function () {
          fetch("/")
            .then(response => response.json())
            .then(data => {
              this.thermometers = data.thermometers
              this.relays = data.relays
              this.thermometers[0].color = this.compute_color(this.thermometers[0].temp)
              this.thermometers[1].color = this.compute_color(this.thermometers[1].temp)
              this.target = data.target_temperature
            })
        },
        fetch_chart: function () {
          fetch("/chart")
            .then(response => response.json())
            .then(data => {
              this.chart_data = [
                data.datasets[0].map(e => e == null ? 0 : e),
                data.datasets[1].map(e => e == null ? 0 : e)]
              this.chart_range = [Math.min(this.thermometers[0].min, this.thermometers[1].min),
              Math.max(this.thermometers[0].max, this.thermometers[1].max)]
              this.chart_data[0][0] = this.chart_range[0]
              this.chart_data[0][1] = this.chart_range[1]
              this.chart_data[1][0] = this.chart_range[0]
              this.chart_data[1][1] = this.chart_range[1]
              this.chart_gradient = []
              for (let i = this.chart_range[0]; i <= this.chart_range[1]; i++) {
                this.chart_gradient.push(this.compute_color(i))
              }
              this.chart_gradient.reverse()
            })
        },
        change_locale: function (index) {
          this.locale = this.locales[index]
          this.$i18n.locale = this.locale;
          localStorage.setItem("locale", this.locale);
        }
      },
      watch: {
        target: function (val) {
          fetch(`/target/${val}`)
        }
      },
      created() {
        this.$i18n.locale = this.locale;
      },
      mounted() {
        this.fetch_temperature()
        this.fetch_chart()
        setInterval(() => { this.fetch_temperature() }, 10000)
        setInterval(() => { this.fetch_chart() }, 30000)
      }
    })
  </script>
  <style lang="scss" scoped>
    .v-badge__badge {
      padding: auto;
      height: auto;
      padding: 6px 6px;
      border-radius: 50px;
      background-color: transparent
    }

    .stack-sheet {
      position: relative;
    }

    .stacked {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
</body>

</html>